<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finals</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet"> 
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/lightbox.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link id="css-preset" href="css/presets/preset1.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon2.png">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div class="main-nav">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <h1><img class="img-responsive" src="images/logo.png" alt="logo"></h1>
            </a>                    
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">                 
              <li class="scroll"><a href="index.html">Home</a></li>
              <li class="dropdown menu__item">
          <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Topics<b class="caret"></b></a>
          <ul class="dropdown-menu agile_short_dropdown">
             <li><a href="servlets.html">Servlet</a></li>
             <li><a href="php.html">PHP</a></li>
             <li><a href="nodejs.html">Node.js</a></li>
             <li><a href="jsp.html">JSP</a></li>
             <li><a href="owasp.html">OWASP</a></li>
          </ul>
        </li>
              <li class="scroll"><a href="quiz.html">Take our Quiz</a></li>                     
              <li class="scroll"><a href="index.html">Our Team</a></li>    
            </ul>
          </div>
        </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  <div class="container">  <!-- wraps and defines overall page width, centers it -->

    <!-- ARTICLE -->
    <article>
      <section>
          <div id="finals-intro">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class ="page-header">
          <h1 id="javascript">JavaServer Pages</h1>
          </div>
          <div class ="row1">
          <p>Java Server Page (JSP) is a technology for controlling the content or appearance of Web pages through the use of servlets, small programs that are specified in the Web page and run on the Web server to modify the Web page before it is sent to the user who requested it. </p>
          </div>
            <video wiidth="520" height="340"controls>
                      <source src="videos/JSP/Introduction%20to%20Servlets%20and%20JSP.mp4">
                      <source src="movie.ogg" type="video/ogg">
                      Your browser does not support the video tag.
                    </video> 
      
           <div class ="row">
           <p class="section-hr">This section will show the different types of servlets that are supported by almost all operating systems</h2>
               <br>
           </div>
                           <h2>A. Java Server Pages </h2>
                              
                                  <p>&raquo;Simply an HTML web page that contains additional bits of code that execute application logic to generate dynamic content.</p>
                                  <p>&raquo;Java Server Pages Actions (JSP tags) perform a variety of functions and extend the capabilities of JSP.</p>
                  <p>&raquo;Java Server Pages Actions use XML-like syntax, and are used to manage JavaBeans component.</p>
                  <p>&raquo;Directives are instructions that are processed by the JSP engine when the page is compiled to a servlet.</p>
                  <p>&raquo;Directives are used to set page-level instructions, insert data from external files, and specify custom tag libraries o <%@ %></p>
                              
              </p>
              <br>
               <h2>B. Motivation</h2>
                              
                                  <p>&raquo;It is typically a good idea to separate business logic from presentation concern</p>
                                  <p>&raquo;Allows modern web development teams to be divided up into programmers and web page authors / designers</p>
                  <p>&raquo;Servlets can be very powerful for programming business logic, but are very awkward to use when generating static (i.e. template) content.</p>
                 
                </p>
              </p>
              <br>
              <h2>C. Features</h2>
                              
                                  <p>&raquo;Text-based document capable of generating both static and dynamic content (typically intermixed)</p>  
                  <p>&raquo;Mark-up based document syntax (JSP-style or XML-style), combining (X) HTML elements as  well as standard and custom JSP elements; thus, web page authors can feel right “at home” with  the mark-up syntax.</p> 
                  <p>&raquo;Embedded Java Coding support via “scriptlets</p>  
                  <p>&raquo;Template text are converted into JSPWriter</p>  
                
              </p>
              <br>
              <h2>D. Components</h2>
                              
                                  <p>&raquo;Template (i.e. static) text</p> 
                  <p>&raquo;JSP elements</p>  
                
              </p>
              <br>
              
              <h2>E. Directives</h2>
                              
                                  <p>&raquo;<%@ page ContentType=”text/html” pageEncoding=”UTF-8” %></p>
                  <p>&raquo;<%@ page import=”java.util.Random” %></p>
                  <p>&raquo;autoFlush</p>
                  <p>&raquo;buffer</p>
                  <p>&raquo;contentType</p>
                  <p>&raquo;errorPage</p>
                  <p>&raquo;extends</p>
                  <p>&raquo;import</p>
                  <p>&raquo;info</p>
                  <p>&raquo;isELIgnored</p>
                  <p>&raquo;isErrorPage</p>
                  <p>&raquo;isThreadSafe</p>
                  <p>&raquo;language</p>
                  <p>&raquo;pageEncoding</p>
                  <p>&raquo;session</p>
                  <p>&raquo;<%@ taglib uri=”http://java.sun.com/jsp/jstl/core” prefix=”c” %></p>
                  <p>&raquo;taglib</p>
                  <p>&raquo;uri</p>
                  
                
              </p>
              <br>
              
              <h2>F. Scripting Elements</h2>
                              
                                  <p>&raquo;Declarations</p>
                  <p>&raquo;o <%! int a = 100; %></p>
                  <p>&raquo;o <%! int square(int n) { return n*n ; } %></p>
                  <p>&raquo;Expressions</p>
                  <p>&raquo;o <% String s = new java.util.Date().toString(); %></p>
                  <p>&raquo;Scriptlets</p>
                  <p>&raquo;o <% for(int i = 0; i < 10 ; i++) { out.println(i); } %></p>
                              
              </p>
              <br>
               
               <h2>G. Actions</h2>
                              
                                  <p>&raquo;Standard actions</p>
                  <p>&raquo;o ⟨jsp:directive.include⟩, ⟨jsp:directive.page⟩"</p>
                  <p>&raquo;o ⟨jsp:declarations⟩</p>
                  <p>&raquo;o ⟨jsp:scriptlet⟩"</p>
                  <p>&raquo;o ⟨jsp:expression⟩"</p>
                  <p>&raquo;o ⟨jsp:include⟩, ⟨jsp:forward⟩"</p>
                  <p>&raquo;o ⟨jsp:useBean⟩, ⟨jsp:setProperty⟩", ⟨jsp:getProperty⟩</p>
                  <p>&raquo;o ⟨jsp:plugin⟩, ⟨jsp:param⟩, ⟨jsp:params⟩, ⟨jsp:fallback⟩</p>
                  <p>&raquo;o ⟨jsp:element⟩, ⟨jsp:attribute⟩, ⟨jsp:body⟩</p>
                  <p>&raquo;o ⟨jsp:text⟩</p>
                  <p>&raquo;Custom Actions (JSTL)</p>
                  <p>&raquo;o JSTL, user-written custom tag libraries</p>
                  <p>&raquo;Expression Language (EL)</p>
                  <p>&raquo;o ${ }</p>
                  <p>&raquo;Implicit Scripting Objects</p>
                  <p>&raquo;o request, response, out, pageContext</p>
                  <p>&raquo;o session, pageContext, application</p>
                  <p>&raquo;o config, page, exception</p>
                  <p>&raquo;Implicit EL Objects</p>
                  <p>&raquo;o pageContext</p>
                  <p>&raquo;o pageScope</p>
                  <p>&raquo;o requestScope</p>
                  <p>&raquo;o sessionScope</p>
                  <p>&raquo;o applicationScope</p>
                  <p>&raquo;o param, paramValues</p>
                  <p>&raquo;o header, headervalues</p>
                  <p>&raquo;o cookie</p>
                  <p>&raquo;o initparam</p>
                  <p>&raquo;Comments</p>
                  <p>&raquo;o <%-- this is a JSP comment --%></p>
                
              </p>
              <br>
              
              <h2>H. Servlets or JSPs?</h2>
                              
                                  <p>&raquo;The common practice is to leverage both technologies to implement the MVC design pattern Model-View-Controller (MVC) Design Pattern</p>
                  <p>&raquo;Model</p>
                  <p>&raquo;o Represents business objects (logic and state)</p>
                  <p>&raquo;View</p>
                  <p>&raquo;o Presentation of the model in some appropriate way</p>
                  <p>&raquo;Controller</p>
                  <p>&raquo;o Mediates application flow</p>
                  <p>&raquo;A sample web MVC framework can use</p>
                  <p>&raquo;o JavaBeans for the model</p>
                  <p>&raquo;o JSPs for the View</p>
                  <p>&raquo;o Servlets for the controller</p>
                              
              </p>
              <br>
                <h2>I. JSP Standard Tag Library (JSTL)</h2>
                              
                                  <p>&raquo;Set of custom JSP elements that provide various programmatic functionality via markup syntax</p>
                  <p>&raquo;o Core Tag Library</p>
                  <p>&raquo;Variable support, flow control, URL management</p>
                  <p>&raquo;o SQL Tag Library</p>
                  <p>&raquo;Database connections, queries, updates</p>
                  <p>&raquo;o Internationalization Tag Library</p>
                  <p>&raquo;Locate setting, message bundling, number formatting, date formatting</p>
                  <p>&raquo;o XML</p>
                  <p>&raquo;Core XML processing, flow control, transformation</p>
                  <p>&raquo;o JSTL Function</p>
                  <p>&raquo;String functions, collection lengths</p>
                  <p>&raquo;In addition to the JSTL, developers can also create their own tag libraries for commonly  occurring tasks</p>
                
              </p>
        </section>
      
      
      
  
              
                 <!-- //content -->
  <!-- bootstrap-pop-up -->
  	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
  		<div class="modal-dialog" role="document">
  			<div class="modal-content">
  				<div class="modal-header">
  					JAVASCRIPT INTRODUCTION
  					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
  				</div>
  				<section>
  					<div class="modal-body">
  						<img src="images" alt="www" class="img-responsive" />
  						<p>This page covers the understanding on how JavaScipt works and how it was originated. Also, it also provides the information about the features, data types, keywords, functions, and document object models (its collections, properties, and methods).</p>
                      </div>
  				</section>
              </div>
  		</div>
  	</div>
  </div>


  <footer id="footer">
<!--     <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
      </div>
    </div> -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2018 Saint Louis University | School of Computing and Information Sciences</p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="js/wow.min.js"></script>
  <script type="text/javascript" src="js/mousescroll.js"></script>
  <script type="text/javascript" src="js/smoothscroll.js"></script>
  <script type="text/javascript" src="js/jquery.countTo.js"></script>
  <script type="text/javascript" src="js/lightbox.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  
</body>
</html>